<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practica7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practica7">
        <activity
            android:name=".urano"
            android:exported="false" />
        <activity
            android:name=".saturno"
            android:exported="false" />
        <activity
            android:name=".jupiter"
            android:exported="false" />
        <activity
            android:name=".marte"
            android:exported="false" />
        <activity
            android:name=".tierra"
            android:exported="false" />
        <activity
            android:name=".venus"
            android:exported="false" />
        <activity
            android:name=".mercurio"
            android:exported="false" />
        <activity
            android:name=".sol"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>